.Footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: 80px;
  background: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  P {
    color: white;
    opacity: 85%;
    margin-right: 30px;
  }
  h3 {
    color: white;
    opacity: 85%;
    margin-left: 30px;
  }
}
